<div class="login-container" ng-controller="resetPasswordController">

        <div class="login-wrapper">
            <h1><strong>BOCO</strong> Change Password</h1>
            <div class="login-form">
                <form ng-submit="changePassword()">
                    <ul>
                        <li>
                            <input type="password" class="form-control" placeholder="Enter New Password" ng-model="userPassword" required> 
                        </li>
                        <li>
                            <input type="password" class="form-control" placeholder="Re Enter Password" ng-model="enterPassword" required> 
                        </li>
                        <li>
                            <input type="submit" class="btn btn-default btn-blue2"
                                   value="Reset Password"/>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    
        <script src="assets/js/script.js"></script>
    
    </div>